<div class="fd__navbar">
    <input type="text" placeholder="O que você esta buscando?" class="fd__search__input"><span class="fd__search__icon"><i class="fa fa-light fa-search"></i></span>

    <ul class="fd_menu">
        <li><i class="fa fa-light fa-book-open"></i></li>
        <li><i class="fa fa-light fa-gear"></i></li>
        <li><i class="fa fa-regular fa-bell"></i></li>
        <li class="fd__dropdown__menu"><img src="" alt="">Ana<i class="fa fa-solid fa-chevron-down"></i></li>
    </ul>
</div>
