h2, h3 { margin: 0; padding: 0; }
h2 { font-size: 1.2rem; color: var(--text-alternative-color); }
h3 {font-size: 0.8rem;}
.fd__subtitle {margin-bottom: 30px;}
.user-modal {
    border-radius: 15px;
    padding: 1rem;
    background-color: var(--modal-background-color);
}

.fd__modal__header {
    display: flex;
    justify-content: space-between;
    min-width: 545px;

    .fa-close {cursor: pointer;}
}

.form-label {
    margin-bottom: 5px;
    color: var(--text-alternative-color);
}

.radio_button_group {
    font-size: 14px;

    .radio_button {
        width: 10px;
    }
}

.fd__buttons__row {
    display: flex;
    justify-content: space-between;

    button { 
        width: 47%;
        height: 35px;
        color: white;

        &.secondary-button {
            border-radius: 10px;
            border: none;
            background-color: var(--secondary);

        }
        &.secondary-button-outline {
            background-color: transparent;
            border: none;
        }
    }
}

.ng-untouched {
    border-color: transparent;
}
input.ng-invalid {
    &.ng-touched {
        border-color: #FF0000;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    }
}